<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Memoir</title>
</head>
<body>
    <th:block layout:fragment="styles">
        <div th:replace="~{dashboard/index :: styles}"></div>
    </th:block>

    <div layout:fragment="content">


        <div sec:authorize="!isAuthenticated()">
            <h1>Welcome</h1>
            <p>Please log in to view your memories</p>
            <a th:href="@{/oauth2/authorization/auth0}" class="btn btn-memoir">Login</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div th:replace="~{dashboard/index :: dashboard}"></div>
        </div>
    </div>
</body>
</html>